body{
    background-color: antiquewhite;
    width: 80%;
    margin-inline: auto;
    -webkit-margin-before: 10vw;
            margin-block-start: 10vw;
}
table{
    background:white;
    width:70%;
    margin-inline: auto;
}

